@import 'colors';

header {
  span.category {
    display: block;
    margin-top: 2rem;

    font-size: 2.25rem;
    font-weight: 600;
    color: $gray;
  }

  span {
    color: $white;
  }
}

main {
  width: 100%;
  margin: 5.625rem auto;

  .movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.75rem;
    list-style: none;
  }
}