@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: $white;
  background: url('../img/background.jpg') center/120% no-repeat fixed;
}

input, textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 52.5rem;
  width: 100%;

  margin: 0 auto;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}