@import 'colors';

nav.sidebar {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 24rem;
  width: 100%;

  padding: 2rem;

  border-bottom-right-radius: 0.25rem;

  background: $background2;
  opacity: 0.9;

  .watchme-logo-link {
    margin-bottom: 4.5rem;

    .watchme-logo {
      display: block;
      font-size: 3rem;
      font-weight: 600;
      color: $yellow;

      p {
      display: inline;
      color: $white;
      }
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  
}